#Title{
    text-align: center;
    max-width: 35rem;
    margin: 0 auto;
}
#Title h1{
    font-size: 2.25rem;
    font-weight: 200;
    color: var(--Grayish-Blue);
    margin-bottom: 1.5rem;
}
#Title h1 span{
    display: block;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    font-size: 2.25rem;
}
#Title p{
    font-size: 0.96rem;
    color: var(--Grayish-Blue);
}
@media only screen and (max-width: 600px) {
    #Title h1 , #Title h1 span{
        font-size: 1.5rem;
    }
   }